body {
  background-color: rgb(123, 148, 143);
  margin: 0;
}

h1 {
  font-size: 70px;
  display: flexbox;
  position: absolute;
  top: 2.5vh;
  left: 2vw;
  margin: 0;
}

#Navigation_Bar {
  display: grid;
  position: relative;
  grid-template: 
  "one two three";
  top: 4vh;
  left: 70vw;
  gap: 2vw;
  margin: 0;
  width: 25vw;
  justify-content: end;
}

.Navigation {
  text-decoration: none;
  font-size: 40px;
  color: rgb(79, 251, 93);
}

#Home_Page {
  grid-area: one;
}

#Portfolio_Page {
  grid-area: two;
}

#About_Page {
  grid-area: three;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: rgb(11, 140, 125);
  color: rgb(79, 251, 93);
}

#Home_Body {
  display: grid;
  position: relative;
  grid-template: 
  "one"
  "two"
  "three"
  "four"
  "five";
  background-color: rgb(20, 101, 144);
  color: rgb(28, 206, 241);
  margin: 0 15vw;
  width: 70vw;
  height: 80vh;
  justify-items: center;
}

#Identifiers {
  font-size: 50px;
  grid-area: one;
  text-align: center;
  padding: 2%;
}

#Bio {
  grid-area: two;
  font-size: 30px;
  text-align: center;
  padding: 2%;
}

#Craig_Pic {
  grid-area: three;
  border-radius: 60px;
  width: 20vw;
  justify-content: center;
  align-items: center;
}

#Quote {
  grid-area: four;
  font-size: 30px;
  text-align: center;
}

#Author {
  grid-area: five;
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}

#About_Body {
  background-color: rgb(20, 101, 144);
  color: rgb(28, 206, 241);
  margin: 0 15vw;
  padding: 1vw;
}

footer {
  display: grid;
  grid-template: 
  "one two three";
  gap: 5vw;
  height: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: rgb(11, 140, 125);
  position: sticky;
}

#Social_Image {
  display: flexbox;
  position: absolute;
}

.facebook {
  grid-area: one;
  width: 5vw;
  height: auto;
}

.linkedin {
  grid-area: two;
  width: 5vw;
  height: auto;
}

.github {
  grid-area: three;
  width: 5vw;
  height: auto;
}

#First_Hobby {
  font-size: 25px;
}

#Second_Hobby {
  font-size: 25px;
}

#Third_Hobby {
  font-size: 25px;
}

#Portfolio_Body {
  background-color: rgb(20, 101, 144);
  color: rgb(28, 206, 241);
  margin: 0 15vw;
  padding: 1vw;
}

#First_Project {
 font-size: 25px;
}

#Second_Project {
  font-size: 25px;
}

#Third_Project {
  font-size: 25px;
}

h3 {
  font-size: 40px;
  text-decoration: underline;
}

#Tank {
  width: 20vw;
  height: auto;
}

#Camping {
  width: 20vw;
  height: auto;
}

#Scuba {
  width: 30vw;
  height: auto;
}
