header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  background-color: rgb(11, 140, 125);
  color: rgb(79, 251, 93);
  margin: 0;
}

/* Navigation */
#Navigation_Bar {
  display: grid;
  position: relative;
  grid-template: "one two three four";
  top: 3vh;
  left: 70vw;
  gap: 2vw;
  margin: 0;
  width: 25vw;
  justify-content: end;
}

.Navigation {
  text-decoration: none;
  font-size: calc(15px + 1.5vw);
  color: rgb(79, 251, 93);
}

#Home_Page {
  grid-area: one;
}

#Portfolio_Page {
  grid-area: two;
}

#About_Page {
  grid-area: three;
}

#Contact_Page {
  grid-area: four;
}

body {
  background-color: rgb(123, 148, 143);
  margin: 0;
  z-index: -1;
}

h1 {
  font-size: calc(15px + 1.5vw);
  display: flex;
  position: absolute;
  top: 3vh;
  left: 2vw;
  margin: 0;
}

h3 {
  font-size: 40px;
  text-decoration: underline;
}

/* Footer Section */
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  background-color: rgb(11, 140, 125);
  z-index: 2;
}

#Footer_Links {
  display: grid;
  grid-template: "one two three";
  gap: 5vw;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
}

.facebook {
  grid-area: one;
  width: 4vw;
  height: auto;
}

.linkedin {
  grid-area: two;
  width: 4vw;
  height: auto;
}

.github {
  grid-area: three;
  width: 7vw;
  height: auto;
}

/* Home Page */
#Home_Body {
  display: grid;
  position: relative;
  top: 10vh;
  grid-template:
    "one"
    "two"
    "three"
    "four"
    "five";
  background-color: rgb(20, 101, 144);
  color: rgb(28, 206, 241);
  width: 100vw;
  height: 80vh;
  justify-items: center;
  text-align: center;
  overflow-y: auto;
  align-items: end;
  align-content: stretch;
  margin: 0;
}

#Identifiers {
  font-size: 50px;
  grid-area: one;
  margin: 0;
}

#Bio {
  grid-area: two;
  font-size: 30px;
  margin: 0;
}

#Craig_Pic {
  grid-area: three;
  border-radius: 60px;
  width: 20%;
  margin: 0;
}

#Quote {
  grid-area: four;
  font-size: 30px;
  margin: 0;
}

#Author {
  grid-area: five;
  font-size: 30px;
  font-family: cursive;
  margin: 0;
}

/* About Page */
#About_Body {
  display: grid;
  position: relative;
  grid-template:
    "one"
    "two"
    "three"
    "four";
  top: 10vh;
  background-color: rgb(20, 101, 144);
  color: rgb(28, 206, 241);
  justify-items: center;
  text-align: center;
  height: 80vh;
  overflow-y: auto;
}

#Free_Time {
  grid-area: one;
  font-size: 35px;
}

.Hobby_Text {
  font-size: 30px;
  padding: 2vw;
}

#Hobby_Body {
  border: 1px Solid black;
}

#Salt_Img {
  width: 30vw;
  height: auto;
  border-radius: 10%;
}

#Camping_Img {
  width: 30vw;
  height: auto;
  border-radius: 10%;
}

#Scuba_Img {
  width: 30vw;
  height: auto;
  padding: 3vh;
  border-radius: 20%;
}

/* Portfolio Page */
#Portfolio_Body {
  display: grid;
  position: relative;
  grid-template:
    "one"
    "two"
    "three"
    "four";
  top: 10vh;
  background-color: rgb(20, 101, 144);
  color: rgb(28, 206, 241);
  justify-items: center;
  text-align: center;
  height: 80vh;
  align-content: space-between;
  overflow-y: auto;
}

.Proj_Body {
  border: 3px solid black;
}

#Portfolio_Title {
  grid-area: one;
  font-size: 35px;
}

#Sub_Gen {
  grid-area: two;
}

#Proj_Folder {
  grid-area: three;
}

#Jira {
  grid-area: four;
}

.Portfolio_Text {
  font-size: 25px;
}

/* Contact Page */
#Contact_Body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 80vh;
  background-color: rgb(20, 101, 144);
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

#Contact_Me {
  font-size: 70px;
  color: rgb(79, 251, 93);
  grid-area: one;
}

#form {
  font-size: 40px;
  color: rgb(79, 251, 93);
}

/* Submission Sucess Page */

#Submission_Success {
  display: flex;
  position: relative;
  top: 10vh;
  width: 100vw;
  height: 80vh;
  font-size: 50px;
  text-align: center;
  align-items: center;
  color: white;
  background-color: rgb(20, 101, 144);
}

/* @media (maxwidth=1024) {
  #Salt_Aquarium {
    grid-area: two;
    display: grid;
    position: relative;
    grid-template: 
    ;
  }

  #About_Body {
    display: grid;
    position: relative;
    grid-template:
      "one"
      "two"
      "three"
      "four";
    top: 10vh;
    background-color: rgb(20, 101, 144);
    color: rgb(28, 206, 241);
    justify-items: center;
    text-align: center;
    height: 80vh;
    overflow-y: auto;
  }
} */
